<?php
{{AUTHOR}}
namespace App\Structs\Results\{{TABLE_NAME}};

use Uniondrug\Structs\{{EXTEND_CLASS}};
{{USE_TRAIT}}

/**
* Class {{CLASS_NAME}}
* @package App\Structs\Results\{{TABLE_NAME}}
*/
class {{CLASS_NAME}} extends {{EXTEND_CLASS}}
{
{{RESULT_PART}}
}
