<?php
{{AUTHOR}}
namespace App\Structs\Requests\{{TABLE_NAME}};

use Uniondrug\Structs\Struct;

/**
 * Class {{CLASS_NAME}}
 * @package App\Structs\Requests\{{TABLE_NAME}}
 */
class {{CLASS_NAME}} extends Struct
{
{{}}
}