<?php
{{AUTHOR}}
namespace App\Structs\Results\{{CLASS_NAME}};

use Uniondrug\Structs\PaginatorStruct;

/**
 * Class Rows
 * @package App\Structs\Results\{{CLASS_NAME}}
 */
class Rows extends PaginatorStruct
{
     /**
      * @var Row[]
      */
      public $body;
}
