<?php
{{AUTHOR}}
namespace App\Controllers;

use App\Controllers\Abstracts\Base;

/**
 * Class {{CLASS_NAME}}
 * @package App\Controllers
 * @RoutePrefix("/{{TABLE_NAME}}")
 */
class {{CLASS_NAME}} extends Base
{
}
