<?php
{{AUTHOR}}
namespace App\Controllers{{PATH}};

use App\Controllers\Abstracts\Base;

/**
 * Class {{CLASS_NAME}}
 * @package App\Controllers
 * @RoutePrefix("/{{ROUTE_PRIFIX}}")
 */
class {{CLASS_NAME}} extends Base
{
}
